@tailwind base;
@tailwind components;
@tailwind utilities;

:root { --lagoa-blue: #003366; --lagoa-orange: #FF6600; }
body { color: #001A33; background: #fff; }
.hero-overlay { background: linear-gradient(0deg, rgba(0,51,102,0.7) 0%, rgba(0,51,102,0.2) 100%); }
